PORT=3000
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/crm_cocteleria?retryWrites=true&w=majority
FRONTEND_URL=https://crm-cocteleria.vercel.app
FRONTEND_URL_PREVIEW=https://crm-cocteleria-git-main-tuusuario.vercel.app
NODE_ENV=development
JWT_SECRET=tu_secreto_aqui_generar_con_openssl
JWT_EXPIRES_IN=2h
